export(listSimulatorMethods,getPosterior,isCaliBayesReady,calibrate, isCaliBayesFinished,
    createCalibayes, saveCalibayes, loadCalibayes,  
    createSettings, saveSettings, 
    mean.CaliBayes, summary.CaliBayes, plot.CaliBayes, compareDistributions,
    getPredictiveDistribution,updatePredictiveResults)

#getUpdate,
