export(listSimulatorMethods,getPosterior,isCaliBayesReady,calibrate, isCaliBayesFinished,
    createCalibayes, saveCalibayes, loadCalibayes,  
    createSettings, saveSettings, 
    mean.calibayes, summary.calibayes, plot.calibayes, compareDistributions,
    getPredictiveDistribution,updatePredictiveResults)

#getUpdate,
