export(listSimulatorMethods,getPosterior,isCaliBayesReady,calibrate, isCaliBayesFinished,
    createCaliBayesExperiment, saveCaliBayesExperiment,
    createCaliBayesDistribution, saveCaliBayesDistribution, loadCaliBayesDistribution,
    createCaliBayesSettings, saveCaliBayesSettings, 
    mean.CaliBayes.Distribution, summary.CaliBayes.Distribution, plot.CaliBayes.Distribution, compareDistributions,
    getPredictiveDistribution,updatePredictiveResults)

#getUpdate,
